 
.containerLogin{
    margin: auto;
    padding: 20px;
    background-color: rgb(232, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(226, 226, 226);
}

.inputLogin{
    width: 100%; 
    margin-bottom: 10px;
}

.btnLogin{
    width: 100%;  
    margin-top: 20px;
}

.dividerBr{
    margin-top: 40px;
}

.snackError{
    background-color: rgb(238, 28, 28)!important;
    color: #FFF;
}