.modalCustom {
  position: absolute !important;
  top: 30% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 50% !important;
  background-color: #fff !important;
  border: 1px solid rgb(226, 226, 226) !important;
  box-shadow: 24 !important;
  margin: auto !important;
  padding: 20px;
  border-radius: 5px;
}

.form-modal {
  margin-top: 30px;
}

.div-modal-btns {
  float: right;
}

.input-text-custom {
  width: 100%;
}

.input-text-custom {
  padding: 6px;
  font-size: 16px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 0px 0px 1px rgba(66, 66, 66, 0.75);
  text-shadow: 0px 0px 0px rgba(66, 66, 66, 0.75);
}
.input-text-custom:focus {
  outline: none;
}

.containerLogin {
  margin: auto;
  padding: 20px;
  background-color: rgb(232, 255, 255) !important;
  border-radius: 10px;
  border: 1px solid rgb(226, 226, 226);
}

.inputLogin {
  width: 100%;
  margin-bottom: 10px;
}

.btnLogin {
  width: 100%;
  margin-top: 20px;
}

.dividerBr {
  margin-top: 40px;
  background: rgb(50, 205, 50);
}

.snackError {
  background-color: rgb(238, 28, 28) !important;
  color: #fff;
}

.form-flex {
  display: flex !important;
}

.gridCard {
  display: inline;
}

.gridEntrada {
  background: rgb(50, 205, 50);
  background: linear-gradient(
    90deg,
    rgba(50, 205, 50, 1) 0%,
    rgba(0, 255, 0, 0.4458158263305322) 100%
  );
  padding: 10px;
  margin: 5px !important;
  border-radius: 10px;
  color: #fff;
}

.gridSaida {
  background: rgb(178, 34, 34);
  background: linear-gradient(
    94deg,
    rgba(178, 34, 34, 1) 0%,
    rgba(128, 0, 0, 0.6054796918767507) 100%
  );
  padding: 10px;
  margin: 5px !important;
  border-radius: 10px;
  color: #fff;
}

.gridContainer {
  display: flex;
  margin-top: 20px;
}

.lbValor {
  font-size: 36px;
  font-weight: bold;
}

.btnPesquisar {
  margin: 10px;
  height: 50px;
  width: 150px;
}

.tableMovi {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
}

.tableHead {
  background-color: rgb(235, 235, 235);
}

.vazio {
  text-align: center;
}

.divBtnPesquisa {
  margin-top: 40px;
  border-top: 1px solid rgb(241, 241, 241);
  padding: 20px;
}

.gridTableMovi {
  margin: auto;
  width: 98%;
  text-align: center;
}

.moneyAdd {
  background-color: #32cd32;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  width: 50%;
}

.moneyRem {
  background-color: #d31111;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  width: 50%;
}

.iconLabel {
  font-size: 14px;
}

.divBottom {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
.divBottom .divBottomHolder {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}
.input12 {
  width: 100%;
  margin-bottom: 10px;
}

.input6 {
  width: 50%;
  margin-bottom: 10px;
  display: block;
}

.divInline6 {
  display: inline;
  width: 100%;
}
.btnCircle {
  display: block;
  width: 40px;
  height: 58px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  -webkit-box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.75);
}

.containerModal {
  margin-top: 50px;
}

.btnModal {
  margin-left: 5px;
}

.containerLogin {
  margin: auto;
  padding: 20px;
  background-color: rgb(232, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(226, 226, 226);
}

.inputLogin {
  width: 100%;
  margin-bottom: 10px;
}

.btnLogin {
  width: 100%;
  margin-top: 20px;
}

.dividerBr {
  margin-top: 40px;
}

.snackError {
  background-color: rgb(238, 28, 28) !important;
  color: #fff;
}
